@model IEnumerable<Bibliotek.Models.Book>

@{
    ViewData["Title"] = "Böcker";
}

<h1>Böcker</h1>

<p>
    <a href="/Books/Create">Skapa Ny Bok</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author.Name</td>
            <td>
                <a href="@Url.Action("Edit", new { id = book.BookId })">Edit</a> |
                <a href="@Url.Action("Details", new { id = book.BookId })">Details</a> |
                <a href="@Url.Action("Delete", new { id = book.BookId })">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
